[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "libs/render/vendor/glm"]
	path = libs/render/vendor/glm
	url = https://github.com/g-truc/glm.git
